{% extends "admin/base.html" %}

{% block title %}
گزارش امروز سفارشات
{% endblock %}

{% block admin_style %}
    <style>
        @media print {
            #sidebar-menu, body > section > div > div > div.ms-auto.col-lg-10.col-md-10.col-sm-10.col-10.bg-dark.shadow.border-start.py-2.position-fixed.top-0.end-0{
                display: none;
            }
            body > section > div > div > div.ms-auto.col-lg-10.col-md-10.col-sm-10.col-10.mt-5.pt-3{
                width: 100% !important;
                height: 100% !important;
                margin: 0 !important;
                padding: 0 !important;
            }
            .print_hidden{
                display: none;
            }
            span, td, th, tr{
                color: black !important;
            }
        }

        @media(max-width: 870px){
            .responsive-mobile{
                display: none;
            }
        }
    </style>
{% endblock %}

{% block main_content %}
<div class="row justify-content-center align-items-center">

    <div class="col-11 my-3">
          <h4 class="text-center my-2 mt-4">گزارش امروز سفارشات سامانه</h4>
          <div class="d-flex justify-content-between align-items-center my-4">
              <p class="m-0">تعداد کل سفارشات : {{ ctx.total_orders }}</p>
              <button class="btn btn-primary print_hidden" onclick="print();">چاپ</button>
          </div>
      </div>

        <div class="col-12">
            <h3 class="text-center">آمار کلی بر اساس بخش ها</h3>
            <table dir="rtl" class="table table-responsive table-dark table-bordered table-hover my-4">
                <thead>
                    <tr>
                        <th>بخش</th>
                        <th>تعداد سفارشات</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ctx.sections_order %}
                        {% for section in ctx.sections_order %}
                            <tr>
                                <td>{{ section }}</td>
                                <td>{{ ctx.sections_order[section] }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2" class="text-center">سفارشی برای هیچ کدام از بخش ها برای امروز یافت نشد</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-12">

            <table dir="rtl" class="table table-responsive table-dark table-bordered table-hover">

                {% if ctx.today_orders %}
                    <thead>
                        <tr>
                            <th class="responsive-mobile">ردیف</th>
                            <th>نام</th>
                            <th>غذا</th>
                            <th>بخش کاری</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for order in ctx.today_orders %}
                            <tr>
                                <td class="responsive-mobile">
                                    <span>{{ loop.index }}</span></td>
                                <td>
                                    <span>{{ order.UserID | GetUserName }}</span></td>
                                <td>
                                    <span>{{ order.FoodID | GetFoodName }}</span></td>
                                <td class="SectionWork"><span>{{ order.UserID | GetSectionNameByUserID }}</span></td>
                            </tr>
                    {% endfor %}
                    </tbody>

                {% endif %}

            </table>

        </div>

</div>
{% endblock  %}

{% block admin_script %}
{% endblock %}



