    <!-- footer -->
    <footer class="w-100">
        <div class="container-fluid">
            <div class="row justify-content-center bg-dark text-white pt-3">
                <div class="col-lg-4 col-md-6 col-11 d-flex justify-content-center align-items-center flex-column">
                    <p class="m-0">Made With <i class="bi bi-heart-fill text-danger"></i> and <i class="bi bi-cup-hot text-warning"></i></p>
                </div>
                <div class="col-lg-4 col-md-6 col-11 d-flex justify-content-center align-items-center flex-column">
                    <h3>Social Media</h3>
                    <div>
                        <a href="https://github.com/alisharify7/Food-Ordering-Employee">
                            <i class="bi bi-github text-warning fs-2 mx-2"></i>
                        </a>
                        <a href="https://twitter.com/alisharify7">
                            <i class="bi bi-twitter text-primary fs-2 mx-2"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-11 d-flex justify-content-center align-items-center flex-column">
                    <p>راهنمایی</p>
                    <p>گزارش باگ و مشکل</p>
                </div>
                <div class="col-12 mt-5">
                    <p class="text-center">all right reserved , 2023, Free and Open Source</p>
                </div>

            </div>
        </div>
    </footer>
    <!-- end of footer -->